:root {
  --title-font: "Shrikhand";
  --secondary-title-font: "Roboto";
  --tertiary-title-font: "Roboto";
  --body-font: "Roboto";
  --title-font-weight: 400;
  --secondary-title-font-weight: 300;
  --tertiary-title-font-weight: 500;
  --body-font-weight: 300;
  --title-font-size: 1.75rem;
  --secondary-title-font-size: 1rem;
  --tertiary-title-font-size: 1.125rem;
  --body-font-size: 0.94rem;
  --title-line-height: 2.563rem;
  --secondary-title-height: 1.188rem;
  --tertiary-title-line-height: 1.313rem;
  --body-line-height: 1.125rem;
}

body {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black);
  display: flex;
  justify-content: center;
}

h1 {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--black);
}

h2 {
  font-family: var(--secondary-title-font);
  font-style: normal;
  font-weight: var(--secondary-title-font-weight);
  font-size: var(--secondary-title-font-size);
  line-height: var(--secondary-title-line-height);
  color: var(--black);
  text-transform: uppercase;
}

h3 {
  font-family: var(--tertiary-title-font);
  font-style: normal;
  font-weight: var(--tertiary-title-font-weight);
  font-size: var(--tertiary-title-font-size);
  line-height: var(--tertiary-title-line-height);
  color: var(--black);
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

.loader__container {
  position: fixed;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: off 3s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #9356DC;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: loader 10s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF79DA;
  border-bottom: 4px solid transparent;
  animation: loader 10s linear infinite reverse;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-container {
  background-color: var(--white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container__logo {
  padding: 14px 0 13px 0;
}
.header-container__navigation-link {
  padding: 14px 0 13px 0;
  position: absolute;
  left: 23px;
  top: 10px;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
@media (min-width: 1024px) {
  .image {
    height: 500px;
  }
}

.menu__main-container {
  background-color: var(--bg-main);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  bottom: 45px;
}
@media (min-width: 768px) {
  .menu__main-container {
    width: 75%;
    max-width: 1055px;
    margin: 0 auto;
  }
}

.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  padding-top: 32px;
}

.menu {
  margin: 0 13px 40px 13px;
  box-sizing: border-box;
}
.menu__part {
  width: 100%;
  max-width: 635px;
  margin: 0 auto;
}
.menu__partTitle {
  margin-top: 40px;
  margin-bottom: 21px;
  position: relative;
}
.menu__line {
  width: 40px;
  height: 3px;
  background-color: var(--tertiary-color);
  position: absolute;
  top: 23px;
}
.menu__partDish {
  height: 69px;
  margin-bottom: 12px;
  border-radius: 15.043px;
  background: var(--White);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  cursor: pointer;
}
.menu__partDish--last {
  margin-bottom: 0;
}
.menu__partDish:hover .menu__selection-button {
  width: 59px;
}
.menu__partDish:hover .menu__selection-button-icon {
  color: white;
}
.menu__canister {
  padding: 15px 0 15px 15px;
  width: 95%;
  overflow: hidden;
}
.menu__dishTitle {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  font-weight: 700;
  padding: 0 15px 15px 5px;
}
.menu__selection-button {
  width: 0px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 300ms;
}
.menu__selection-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  color: transparent;
}

.command-container {
  text-align: center;
}
.command-container__button {
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: var(--white);
  width: 218px;
  height: 50px;
  border: none;
  padding: 13px 18.75px;
  margin-bottom: 40px;
}
.command-container__button:hover {
  background: linear-gradient(0deg, #a16be0 -5.2%, #ff93e1 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.footer__super-container {
  background-color: #353535;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 45px;
}
.footer__main-container {
  width: 1440px;
}
.footer__container {
  padding: 22px 25px;
  background-color: #353535;
  color: var(--white);
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
  }
}
.footer__logo {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  font-family: "Shrikhand", serif;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0 41px 0 16px;
    position: relative;
    bottom: 4px;
  }
}
.footer__list-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
}
@media (min-width: 768px) {
  .footer__list-container {
    flex-direction: row;
  }
}
.footer__list-container__fa-utensils {
  margin-right: 11px;
  width: 11px;
  height: 13px;
}
.footer__list-container__fa-handshake-angle {
  margin-right: 10.08px;
  width: 11.9177px;
  height: 13px;
}
.footer__list-container__item2 {
  margin-right: 37px;
}
.footer__list-container__item3 {
  font-weight: 400;
  margin-right: 9px;
}
.footer__list-container__item4 {
  font-weight: 400;
  margin-right: 74px;
}/*# sourceMappingURL=pages.css.map */